---

---

<div class="flex h-full items-center justify-center gap-4 px-50">
  <div class="p-10 md:flex-4 shrink-0">
    <h1
      class="text-[60px] font-semibold leading-[1.2]"
      style="color: rgba(49, 53, 72, 1)"
    >
      Income Tax Regime Comparison.
    </h1>
  </div>
  <div class="w-[min(580px,90vw)] p-5">hi</div>
</div>;
